
@media only screen and (orientation: portrait) {
    @media (min-width: 540px) {
        * {
            box-sizing: border-box;
        }
        body {
            margin: 0;
            background-color: red;
        }
    
        .parent {
            border: 2px solid black;
            max-width: 1000px;
            width: 100%;
            background-color: rgb(136, 209, 27);
            margin: 25px auto; 
            padding: 15px;
        }
    
        .root {
            display: flex;
            flex-wrap: wrap;
        }
    
        .child_root {
            max-width: 100%;
            flex-basis: 100%;
            flex-grow: 1;
            padding: 0 10px;
            margin-bottom: 10px;
        }
    
        .bg-yellow{
            background-color: yellow;
            min-height: 250px;
        }
    
        .col-25 {
            max-width: 25%;
            flex-basis: 25%;
        }
    
        .col-75 {
            max-width: 75%;
            flex-basis: 75%;
        }
    
        .bottom {
            width: 100%;
            flex-basis: 400px;
        }
    
        .bottom_1 {
            display: flex;
            flex-direction: row;
        }
    
        .bg-blue{
            background-color: blue;
            min-height: 150px;
        }
    
        .bottom_1 .child_bottom {
            width: 50%;
            padding: 15px;
        }
    
        .bottom > .child_bottom {
            width: 100%;
            background-color: pink;
            height: 150px;
        }
    }
    @media (max-width: 540px) {
        * {
            box-sizing: border-box;
        }
        body {
            margin: 0;
            background-color: red;
            width: 100%;
        }
        .parent {
            border: 2px solid black;
            max-width: 1000px;
            width: 100%;
            background-color: rgb(136, 209, 27);
            margin: 25px auto; 
            padding: 15px;
        }
        
        .root {
            display: flex;
            flex-direction: column;
        }
    
        .child_root {
            max-width: 100%;
            flex-basis: 100%;
            flex-grow: 1;
            padding: 0 10px;
            margin-bottom: 10px;
        }
    
        .bg-yellow{
            background-color: yellow;
            min-height: 450px;
        }
        .bottom {
            width: 100%;
            flex-basis: 400px;
        }
        
        .bottom_1 {
            display: flex;
            flex-direction: column;
        }
        
        .bg-blue{
            background-color: blue;
            min-height: 450px;
        }
        
        .bottom_1 .child_bottom {
            width: 100%;
            padding: 15px;
        }
        
        .bottom > .child_bottom {
            width: 100%;
            background-color: pink;
            min-height: 450px;
        }
        .under {
            min-height: 450px;
        }
    }
}

@media only screen and (orientation: landscape) {
       @media (min-width: 540px) {
        * {
            box-sizing: border-box;
        }
        body {
            margin: 0;
            background-color: red;
        }
    
        .parent {
            border: 2px solid black;
            max-width: 1000px;
            width: 100%;
            background-color: rgb(136, 209, 27);
            margin: 25px auto; 
            padding: 15px;
        }
    
        .root {
            display: flex;
            flex-wrap: wrap;
        }
    
        .child_root {
            max-width: 100%;
            flex-basis: 100%;
            flex-grow: 1;
            padding: 0 10px;
            margin-bottom: 10px;
        }
    
        .bg-yellow{
            background-color: yellow;
            min-height: 250px;
        }
    
        .col-25 {
            max-width: 25%;
            flex-basis: 25%;
        }
    
        .col-75 {
            max-width: 75%;
            flex-basis: 75%;
        }
    
        .bottom {
            width: 100%;
            flex-basis: 400px;
        }
    
        .bottom_1 {
            display: flex;
            flex-direction: row;
        }
    
        .bg-blue{
            background-color: blue;
            min-height: 150px;
        }
    
        .bottom_1 .child_bottom {
            width: 50%;
            padding: 15px;
        }
    
        .bottom > .child_bottom {
            width: 100%;
            background-color: pink;
            height: 150px;
        }
    }
    @media (max-width: 540px) {
        * {
            box-sizing: border-box;
        }
        body {
            margin: 0;
            background-color: red;
            width: 100%;
        }
        .parent {
            border: 2px solid black;
            max-width: 1000px;
            width: 100%;
            background-color: rgb(136, 209, 27);
            margin: 25px auto; 
            padding: 15px;
        }
        
        .root {
            display: flex;
            flex-direction: column;
        }
    
        .child_root {
            max-width: 100%;
            flex-basis: 100%;
            flex-grow: 1;
            padding: 0 10px;
            margin-bottom: 10px;
        }
    
        .bg-yellow{
            background-color: yellow;
            min-height: 150px;
        }
        .bottom {
            width: 100%;
            flex-basis: 400px;
        }
        
        .bottom_1 {
            display: flex;
            flex-direction: column;
        }
        
        .bg-blue{
            background-color: blue;
            min-height: 150px;
        }
        
        .bottom_1 .child_bottom {
            width: 100%;
            padding: 15px;
        }
        
        .bottom > .child_bottom {
            width: 100%;
            background-color: pink;
            min-height: 150px;
        }
        .under {
            min-height: 150px;
        }
    }
}